<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">
                    Analytics dashboard
                </div>
                <div class="font-medium tracking-tight text-secondary">
                    Monitor metrics, check reports and review performance
                </div>
            </div>
        </div>
        <div class="w-full mt-8">
            <mat-form-field class="w-full">
                <mat-label>Select Country</mat-label>
                <input
                    type="text"
                    matInput
                    [matAutocomplete]="auto"
                    [(ngModel)]="selectedCountry"
                    (ngModelChange)="onCountryInputChange($event)"
                />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountry">
                    <mat-option
                        *ngFor="let country of filteredCountries"
                        [value]="country"
                        (onSelectionChange)="onCountrySelected(country)"
                    >
                        {{ country.countryName }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full mt-8">
            <div
                class="sm:col-span-1 dark flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden py-4"
            >
                <div
                    class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10"
                >
                    <div class="flex flex-col">
                        <div
                            class="mr-4 text-2xl md:text-3xl font-semibold tracking-tight leading-7"
                        >
                            Total Stats Breakdown
                        </div>
                        <div class="font-medium text-secondary">
                            Number of cases as Bar Chart
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto w-4/5 mx-auto">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [chart]="chartBar.chart"
                        [colors]="chartBar.colors"
                        [dataLabels]="chartBar.dataLabels"
                        [fill]="chartBar.fill"
                        [grid]="chartBar.grid"
                        [series]="chartBar.series"
                        [tooltip]="chartBar.tooltip"
                        [xaxis]="chartBar.xaxis"
                        [yaxis]="chartBar.yaxis"
                        [labels]="chartBar.labels"
                        [plotOptions]="chartBar.plotOptions"
                        [legend]="chartBar.legend"
                    ></apx-chart>
                </div>
            </div>
            <div
                class="col-span-1 dark flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden py-4"
            >
                <div
                    class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10"
                >
                    <div class="flex flex-col">
                        <div
                            class="mr-4 text-2xl md:text-3xl font-semibold tracking-tight leading-7"
                        >
                            Total Stats Breakdown
                        </div>
                        <div class="font-medium text-secondary">
                            Number of cases as Donut Chart
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [chart]="chartPie.chart"
                        [colors]="chartPie.colors"
                        [series]="chartPie.series"
                        [tooltip]="chartPie.tooltip"
                        [labels]="chartPie.labels"
                        [plotOptions]="chartPie.plotOptions"
                        [legend]="chartPie.legend"
                        [stroke]="chartPie.stroke"
                        [dataLabels]="chartPie.dataLabels"
                    ></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
